In [1]:
from google.colab import drive
drive.mount('/content/drive',force_remount=True)

Mounted at /content/drive

In [2]:
import os
os.chdir('/content/drive/Shareddrives/PySpark')
!ls

'PySpark basics'

In [ ]:
""" 

installing the pyspark dependencies 

"""
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://www.gtlib.gatech.edu/pub/apache/spark/spark-3.0.1/spark-3.0.1-bin-hadoop2.7.tgz
!tar -xvf spark-3.0.1-bin-hadoop2.7.tgz

!pip install -q findspark

os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/drive/Shareddrives/PySpark/spark-3.0.1-bin-hadoop2.7"

In [9]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
sc = spark.sparkContext

- Parallelize(obj, n)
  - it will create the data into an RDD. it takes 2 inputs the object and the number of partitions to be made

- first()
  - It is used to capture or see the first element of the RDD or first row of the dataframe

- take(n)
  - *take(n)* function grabs the n elements of the RDD 

- collect()
  - order to get all the data on the driver, we can use the collect() function

- getNumPartitions() 
  - In order to optimize PySpark code, a proper distribution of data is required. The numberof partitions of an RDD can be found using the getNumPartitions() function

In [16]:
# Converting a list to RDD 
list_obj = [2.3,3.4,4.3,2.4,2.3,4.0]

list_rdd = sc.parallelize(list_obj,2)

# to collect the data 
print(list_rdd.collect())

# get the first element 
print(list_rdd.first())

# get the first 2 elements 
print(list_rdd.take(2))

# get the number of partitions created 
print(list_rdd.getNumPartitions())

[2.3, 3.4, 4.3, 2.4, 2.3, 4.0]
2.3
[2.3, 3.4]
2

## Problem 1 : Convert the farentheit temperature into celcius

given a table of temperatures in the farentheit needs to convert it to celcius and get the days temp is above 13c

- map() 
  - Converting one value to another 

- filter()
  - It filter out based on the condition

In [18]:
# read data 
faren_data = [59,57.2,53.6,55.4,51.8,53.6,55.4]

# make RDD 
faren_rdd = sc.parallelize(faren_data)

[59, 57.2, 53.6, 55.4, 51.8, 53.6, 55.4]

In [22]:
"""
function to convert the farenheit data into celcius 

"""
def getcelcius(faren):
  return round((faren-32 ) * (5/9),2)

getcelcius(59)

15.0

In [23]:
# while passing the values of the data in the map() it performs actions on all the elements of the RDD 

cel_rdd = faren_rdd.map(getcelcius)

cel_rdd.collect()

[15.0, 14.0, 12.0, 13.0, 11.0, 12.0, 13.0]

To filter data, we can use the filter() function on the RDD. We have to provide a predicate as input to the filter() function. 

*A predicate is a function that tests a condition
and returns True or False.*

filter() returns the values only which are TRUE. 

We can lambda functions too in this regard to filtering out.

In [24]:
def greater13(tempCelcius):
  return tempCelcius>=13

greater13(24)

True

In [26]:
filtered_rdd = cel_rdd.filter(greater13)

# filtered_rdd.collect()


filter_lambda = cel_rdd.filter(lambda x:x>=13)

filter_lambda.collect()

[15.0, 14.0, 13.0, 13.0]

## Problem 2 : Perform Basic Data Manipulation

* Average grades per semester, each year, for each student
* Top three students who have the highest average grades in the
second year
* Bottom three students who have the lowest average grades in the
second year
* All students who have earned more than an 80% average in the
second semester of the second year